.button-arrow-left {
  border: 0px;
  background-color: transparent;
  color: var(--color-second);
  width: 24px;
  height: 48px;
  cursor: pointer;
}

.button-arrow-left::before {
  content: "";
  display: block;
  box-sizing: border-box;
  border: 48px solid transparent;
  border-right: 24px solid var(--color-second);
}

.button-arrow-right {
  border: 0px;
  background-color: transparent;
  color: var(--color-second);
  width: 24px;
  height: 48px;
  cursor: pointer;
}

.button-arrow-right::after {
  content: "";
  display: block;
  box-sizing: border-box;
  border: 48px solid transparent;
  border-left: 24px solid var(--color-second);
}
