:root {
  --color-first: #ff8303;
  --color-second: #a35709;
  --color-third: #f0e3ca;
  --color-fourth: #fff;
  --color-black-first: #000;
  --color-black-second: #1b1a17;
}

body {
  background-color: var(--color-black-first);
  font-family: "Krona One", sans-serif;
}

#container {
  flex: 1;
}
