/*Celulares*/

@media screen and (min-width: 480px) {}


/*Tablets*/

@media screen and (min-width: 768px) {}


/*Computadores*/

@media screen and (min-width: 1240px) {
    .capa {
        position: absolute;
        width: 395.12px;
        height: 585px;
        left: 80px;
        top: 134px;
        background: url('');
        border: 5px solid #FF8303;
        box-sizing: border-box;
    }
    .descricao {
        position: absolute;
        width: 832px;
        height: 585px;
        left: 532px;
        top: 134px;
    }
    .detalhes {
        position: absolute;
        width: 832px;
        height: 585px;
        left: 532px;
        top: 134px;
    }
    .embed {
        position: absolute;
        width: 1240px;
        height: 720px;
        left: 100px;
        top: 799px;
        background: #C4C4C4;
        border: 5px solid #FF8303;
        box-sizing: border-box;
    }
    .texto {
        position: absolute;
        width: 832px;
        height: 470px;
        left: 532px;
        top: 249px;
    }
    .titulo {
        position: absolute;
        width: 500px;
        height: 48px;
        left: 532px;
        top: 134px;
        background-color: #FF8303;
    }
}