.short-data {
  display: flex;
  justify-content: space-around;
}

.wrapper-data {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.short-data .short-poster {
  width: 372px;
  height: 551px;
  border: 5px solid var(--color-first);
}

.short-data .short-title {
  width: 440px;
  height: 48px;
  background-color: var(--color-first);
  color: var(--color-third);
  font-size: 24px;
  text-align: center;
  padding: 9px 0px;
  line-height: 30px;
}

.short-data .short-sinopse {
  margin-top: 30px;
  display: inline-block;
  width: 720px;
  background-color: var(--color-black-second);
  color: var(--color-third);
  font-size: 24px;
  border: 1px solid var(--color-first);
  line-height: 30px;
  padding: 52px 28px;
}
