@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
}

body{
    min-height: 100vh;
    background: #111;
}

/* --- SECTION --- */
section{
    position: relative;
    display: block;
}

.carousel-indicator{
    display: none;
}

/* .container{ */
.row{
    width: 100%;
    height: 480px;
    overflow: hidden;
    position: relative;
}

.slide{
    width: 100%;
    height: 100%;
    animation: fade 1s ease-in-out;
    position: relative;
}

@keyframes fade{
    to{
        opacity: 1;
    }
    from{
        opacity: 0;
    }
}

.carousel-item img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    filter: brightness(60%);
}

.slide .carousel-inner{
    position: absolute;
    left: 10%;
    bottom: 100px;
    color: #fff;
    max-width: 400px;
    text-shadow: 0 0 1px #000;
}

.carousel-inner h2{
    font-size: 2rem;
    letter-spacing: 2px;
}

.carousel-inner p{
    line-height: 1.4rem;
    margin: 10px 0;
}

.carousel-inner a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: #0009;
    padding: 10px 15px;
}

.carousel-inner a:hover{
    background: chocolate;
}

/* --- CAROUSEL - ARROWS --- */
.carousel a{
    width: 95%;
    height: auto;
    margin: 0 auto;
    position: relative;
    margin-top: -30px;
}

.carousel-control-prev,
.carousel-control-next{
    position: absolute;
    font-size: 4rem;
    background: #0009;
    color: #fff;
    padding: 5px 15px;
    border-radius: 7px;
    transform: translateY(-250px);
    cursor: pointer;
}

.next{
    right: 0;
}

/* --- RESPONSIVE --- */
@media (max-width: 1100px){
    ul{
        margin-right: 10px;
    }
}

@media (max-width: 960px) {
    .carousel-control-prev,
    .carousel-control-next{
        font-size: 2.5rem;
    }
}

@media (max-width: 760px){
    .slide .carousel-inner{
        left: 80px;
        right: 80px;
    }
    
    .carousel-control-prev,
    .carousel-control-next{
        font-size: 2.5rem;
    }
}

@media (max-width: 550px){
    .slide .carousel-inner{
        left: 80px;
        right: 80px;
    }

    .carousel-control-prev,
    .carousel-control-next{
        font-size: 1.5rem;
    }
}