.genre-title {
  display: block;
  width: 375px;
  height: 48px;
  background-color: var(--color-first);
  color: var(--color-third);
  text-align: center;
  font-size: 24px;
}

.wrapper-poster {
  display: flex;
  flex-flow: column wrap;
  width: 182px;
  height: 338px;
  align-items: center;
}

.wrapper-poster .short-poster {
  border: 1px solid var(--color-first);
}

.wrapper-poster .short-title {
  color: var(--color-third);
  width: 182px;
  height: 60px;
  font-size: 24px;
  text-align: center;
}
