.carroussel-genre {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.short-genre {
  margin-bottom: 40px;
}

.short-genre:first-of-type {
  margin-top: 80px;
}
