.wrapper-short-title-carroussel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 24px;
}

.short-title-carroussel {
  width: 355px;
  height: 48px;
  line-height: 30px;
  background-color: var(--color-black-second);
  color: var(--color-third);
  font-size: 24px;
  text-align: center;
  padding: 9px 0px;
}
