.genre-title {
  display: inline-block;
  width: 375px;
  height: 48px;
  background-color: var(--color-first);
  color: var(--color-third);
  text-align: center;
  font-size: 24px;
  margin: 0px;
  line-height: 30px;
  padding: 9px 0px;
}
