.main-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  background-color: var(--color-black-second);
  padding: 15px 30px;
  margin-bottom: 45px;
  width: 100%;
}

.site-logo {
  font-family: "Pacifico", cursive;
  font-size: 40px;
  color: var(--color-third);
  order: 1;
}

.home {
  font-size: 20px;
  text-decoration: none;
  color: var(--color-third);
  order: 2;
}

.dot {
  color: var(--color-first);
}
