.carregamento{
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    border-radius: 10px;
}
.conteudo {
    padding: 15%;                        
    align-items: center;
}
.subconteudo {
    margin: 5px auto;
    display:flex;
    justify-content: center;
  }