.short-video {
  display: flex;
  justify-content: center;
  margin: 50px 0px;
}

.short-embed {
  background: var(--color-black-second);
  border: 1px solid var(--color-first);
  width: 1023px;
  height: 594px;
}
.embed-iframe {
  position: absolute;
  width: 1021px;
  height: 592px;
}

@media (max-width: 1135px) {
  .short-embed {
    width: 930px;
    height: 540px;
  }
  .embed-iframe {
    width: 928px;
    height: 538px;
  }
}

@media (max-width: 1000px) {
  .short-embed {
    width: 806px;
    height: 468px;
  }
  .embed-iframe {
    width: 804px;
    height: 466px;
  }
}

@media (max-width: 910px) {
  .short-embed {
    width: 713px;
    height: 414px;
  }
  .embed-iframe {
    width: 711px;
    height: 412px;
  }
}

@media (max-width: 800px) {
  .short-embed {
    width: 651px;
    height: 378px;
  }
  .embed-iframe {
    width: 649px;
    height: 376px;
  }
}

@media (max-width: 670px) {
  .short-embed {
    width: 558px;
    height: 324px;
  }
  .embed-iframe {
    width: 556px;
    height: 322px;
  }
}

@media (max-width: 600px) {
  .short-embed {
    width: 496px;
    height: 288px;
  }
  .embed-iframe {
    width: 494px;
    height: 286px;
  }
}

@media (max-width: 510px) {
  .short-embed {
    width: 100%;
    height: 252px;
    border-left: 0px;
    border-right: 0px;
  }
  .embed-iframe {
    width: calc(100% - 2px);
    height: 250px;
  }
}

@media (max-width: 460px) {
  .short-embed {
    height: 216px;
  }
  .embed-iframe {
    height: 214px;
  }
}
