.embed{
    position: relative;
    width: 90%;
    height: 260px;
    left: 80px;
    margin-top: 26px;
    bottom: 200px;
    background: #1B1A17;
    border: 1px solid #FF8303;
    box-sizing: border-box;
}

.embed-iframe {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-repeat: no-repeat; 
    background-size: cover;    
}
