.sinopsesegundatela { 
    position: relative;
    
    height: 200px;
    left: 350px;
    padding-right: 1em;
    margin-top: 0px;
    bottom: 200px;
    background: #1B1A17;
    border: 1px solid #FF8303;
    box-sizing: border-box;

    
}

.sinopsesegundatela p {
    text-align: center;
    color: white;
}